:root {
    --color-letter: #979797;
    --color-letter2: #000000;
    --color-primary: #424242;
    --color-secondary: #000000;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gideon Roman', cursive;
  }
  
  body {
    background-color: var(--color-secondary);
    color: var(--color-letter);
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container {
    width: 800px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 2px;
  }
  
  .container h1 {
    font-size: clamp(22px, 7vw, 44px);
  }
  
  
  #number,
  #roman {
    color: var(--color-letter);
    font-size: 20px;
    text-align: center;
    width: 30%;
    height: 30px;
    background-color: var(--color-secondary);
    border: none;
    outline: none;
    border-radius: 2px;
    z-index: 4;
    padding: 10px;
  }
  
  #number:hover,
  #number:focus {
    outline: 1px solid var(--color-primary);
  }
  
  #roman {
    color: var(--color-letter);
  }
  
  #convert {
    font-size: 20px;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    color: var(--color-letter);
    border: 2px solid var(--color-letter);
    cursor: pointer;
    margin: 10px 25px 15px;
    min-width: 150px;
    padding: 8px;
    transition: background-color, color, 0.3s;
  }
  
  #convert:hover {
    background-color: var(--color-letter);
    color: var(--color-letter2);
  }


  #nivwer {
    font-size: 18px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }

  #nivwer > a {
    text-decoration: none;
    color: var(--color-letter1);
    outline: none;
  }




